/* ==========================================================================
   Author's custom styles
   ========================================================================== */
div[class^='col-']{
	border: 3px solid white;
  }
 
  div[class^='col-']{
	border: 1px solid white;
  }
 
.color1{
	background-color: #ff4444;
	height: 170px;
}
.color2{
	background-color: #33b5e5;
	height: 170px;
}
.color3{
	background-color: #8e44ad;
	height: 170px;
}
.color4{
	background-color: #2ecc71;
	height: 170px;
}
.color5{
	background-color: #008000;
	height: 170px;
}
.color0{
	background-color: #000;
	height: 170px;
  }
  .color6{
	background-color: #69c769;
	height: 170px;
  }
  .color7{
	background-color: #262726;
	height: 170px;
  }
  .aspecto{
	text-align: center;
	background-color: #ff4444;
	border: solid;
}
td {
    width: 50px; /* Ancho fijo de cada celda */
    height: 25px; /* Altura fija de cada celda */
    border: 1px solid #000; /* Opcional: agrega bordes */
    text-align: center; /* Centra el contenido */
    vertical-align: middle; /* Alineación vertical */
}
table {
    border-collapse: collapse;
    width: 100%; /* O ajusta al tamaño deseado */
    table-layout: fixed; /* Asegura celdas de tamaño uniforme */
}